// Central Hub
// Author: iBec Creative
// The main file where all SCSS files are collected. This framework is structured around Drupal's node-types.

@import "framework/_variables.scss";
@import "framework/_mixins.scss";

// Plugins
// Add any related CSS/SCSS to the plugins folder and link them here.

// Site Styles
// Add your custom stylessheets to the styles folder and link them here.


.test{
  background: red;
  display: block;
}
