//
// Variables
// Author:iBec Creative;
// Updated: 5/16/2014, by: Matt Smith

//
// Colors

//
//Project Colors
$primary:					#2E9EDC;
$secondary:					#135881;
$highlight:					#FC4127;

//
//Utility Colors

$black:						#000000;
$dark-grey:					#3f3f3f;
$dark-gray:					$dark-grey;
$grey:						#7f7f7f;
$gray:						$grey;
$light-grey:					#bfbfbf;
$light-gray:					$light-grey;
$light-light-grey:			#dadada;
$light-light-gray:			$light-light-grey;
$white:						#ffffff;

//
//Copy Colors
$dark-text-color:			$dark-grey;
$light-text-color:			$white;
$body-link-color:			$highlight;


//
// Typography

$bootstrap-font-default: 	"proxima-nova",sans-serif;

$primary-font-family: 		"Helvetica Neue", Helvetica, sans-serif;
$secondary-font-family: 		Georgia, serif;

$heading-font-family:		$bootstrap-font-default;
$heading-weight:				bold;
$body-font-family:			$bootstrap-font-default;
$body-weight:				normal;

$base-font-unitless:			18;
$base-font-size:				$base-font-unitless + px;
$base-line-height:			1.5;

$body-copy-size:				1em;
