//
//	Desktop Styles
//  Author: iBec Creative

*{
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

img{
	max-width: 100%;
	height: auto;
}



//
//	Create your custom grid below, delete the example:

.full-column{
	@include grid($site-width,yes);
}

.left-column{
	@include grid($site-width,yes);

	@media #{$screen-sm}{
		@include grid(800px);
	}

	@media #{$screen-md}{
		@include grid(650px);
		@include push(650px);
	}
}

.right-column{
	@include grid($site-width,yes);

	@media #{$screen-sm}{
		@include grid(500px);
	}

	@media #{$screen-md}{
		@include grid(650px);
		@include pull(650px);
	}
}
